.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ant-modal-content {
    color: white;
    background-color: #24282f;
}

.modal_info {
    color: black;
    background-color: rgb(225, 222, 222);
    border-radius: 7px;
    height: 400px;
}

.info {
    font-family: "Montserrat-Medium", sans-serif;
    font-size: 0.9rem
}

.continue_button {
    background-color: rgb(71, 167, 58);
}
.ant-modal {
    font-family: "Montserrat-Medium", sans-serif;
}
.ant-modal .ant-modal-title {
    font-size: 1.7rem;
}

.content {
    overflow: auto;
    height: 400px;
    margin: 10px 5px 10px 15px;
}

.logo1 {
    margin-top: 50px;
    width: 150px;
}

.main_logo {
    display: flex;
    justify-content: center;
}

.ban_icon {
    margin-top: 150px;
    width: 200px;
}

.text {
    margin-top: 80px;
    color: rgb(71, 167, 58);
    font-size: 25px;
}
